<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
    <link rel="stylesheet" href="/css/semantic.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="site">
        <br><br><br><br><br><br>
        <div class="ui container">
          <form id ="form" action="/edit/<%- club._id %>" class="ui form" method ="POST">
            <div class="ui three fields">
              <div class="field">
                <label for="name" class="ui header black">Fullname</label>
                <input type="text" name="name" value = "<%- club.name %>" id ="name">
              </div>
              <div class="field">
                <label for="director" class="ui header black">Project Title</label>
                <input type="text" name="projecttitle" value = "<%- club.projecttitle %>" id ="director">
              </div>
              <div class="field">
                <label for="year" class="ui header black">No. team-members</label>
                <input type="text" name="teammembers" value = "<%- club.teammembers %>" id ="year">
              </div>
              <div class="field">
                <label for="year" class="ui header black">Section</label>
                <input type="text" name="section" value = "<%- club.section %>" id ="year">
              </div>
            </div>
            <br>
            <div class="ui fluid field">
              <input type="submit" value="Submit" class="ui button blue fluid" id="testone">
            </div>
          </form> 

          <br><br>
        </div>
    </div>
    <script src="/public/js/semantic.min.js"></script>
</body>
</html>